.side
    if user
        .card
            .fakeImage Image
            .container
                h2
                    b User: #{user}
                p Password: #{password}
                p Cookie expires: #{expirationDate}
