.side
    .card
        if user
            .fakeImage Image
            .container
                h2
                    b User: #{user}
                p Password: #{password}
                p Cookie expires: #{expirationDate}